/*@font-face {
  font-family: 'Biko';
  src: url('../../static/fonts/fontawesome-webfont.eot');
  url('../../static/fonts/fontawesome-webfont.woff') format('woff'),
  url('../../static/fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../../static/fonts/fontawesome-webfont.svg#untitledregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
body{    color:#666;
  font-size: 14px;font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;  background: #e1e1e1;
}
.fl{float: left;}
.fr{float: right;}
.pad20{padding: 20px;}
ul li{list-style: none}


