@import "_reset.scss";
@import "_base.scss";
#resume{   width: 1000px;height: 1754px;  background: #fff;
 margin: 0 auto; box-shadow: 0 0 5px 5px #ccc;  overflow: hidden;
}
header{ padding:0 20px;  height: 180px;
     background: #000;    color: #fff; overflow: hidden;
  .web-links{margin-left: 40px;
  a{color: #fff;padding: 5px ;   display: block; text-decoration: none;
  }
  &:nth-child(1){ background: none}
  &:nth-child(2){ background: none}
  &:nth-child(3){ background:none}
  &:nth-child(4){ background:none}
  &:nth-child(5){ background:none}

  }
  .person {  text-align: center;  width:200px ;
   h2{ font-size:50px;padding:0px ;  }
    p{font-size: 18px}
  }


}
.item{padding: 20px;  width:450px;
  li{padding:  0 20px;border-left: 1px solid #e1e1e1; box-sizing: border-box;position: relative; line-height:24px;

    .circtle{width: 6px;height:6px; display:inline-block;background: #000; border-radius: 50%; position: relative; left:-33px;}
  }
  h4{ font-size: 14px; color: #000;}
  .time{font-weight: bold; color: #000;}
  p.text{text-indent: 2em;}
}
.item   h3{font-size: 18px; color: blue; position: relative;
  i{width: 10px;height: 10px; display:inline-block;background: #000; border-radius: 50%; position: relative; left:-30px;}
}